.vs/
Octree-Template.sln
Octree-Template.vcxproj
Octree-Template.vcxproj.filters
Octree-Template.vcxproj.user
addons.make
icon.rc
obj/
bin/assimp32.dll
bin/FreeImage.dll
bin/Octree-Template.exe
bin/Octree-Template.exp
bin/Octree-Template.iobj
bin/Octree-Template.ipdb
bin/Octree-Template.lib
bin/Octree-Template_debug.exe
bin/Octree-Template_debug.exp
bin/Octree-Template_debug.ilk
bin/Octree-Template_debug.lib
bin/Octree-Template_debug.pdb
bin/assimp64.dll
bin/fmodex64.dll
bin/fmodexL64.dll
.DS_Store
bin/.DS_Store
bin/data/.DS_Store
bin/data/geo/.DS_Store